.post-wrapper {
    background-color: #fff;
    margin: 20px 0 20px 20px;
    width: 185px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    overflow: hidden;

}

.post-image-wrapper {
    width: 100%;
    height: 150px;
}

.post-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-content-wrapper {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
}

.post-content-wrapper p {
    margin: 0;
}

.post-content-details {
    flex: 3;
    flex-wrap: wrap;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}

.post-content-fav {
    align-items: flex-start;

}

.post-subtitle-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.post-text {

    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.name {
    width: 120px;
    color: #2196F3;
    font-weight: bold;
}

.price {
    color: #FF9800;
    font-weight: bold;
}

.condition {
    font-size: 12px;
}


.brand {
    color: #9E9E9E;
    font-size: 12px;
    font-weight: bold;
}


/* DETAILS */
.details-image-wrapper{
    width: 100%;
    height: 400px;
    background-color: rgba(0,0,0,0.9);
}

.details-image{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.details-name{
    margin:0;
    font-size: 18px;
    font-weight: bold;
    color: #2196F3;

}

.details-price{
      margin:0;
      font-size: 18px;
      font-weight: bold;
    color: #FF9800;
}

.details-brand,
.details-condition,
.details-description-label,
.details-description {
     margin:0;
     font-size: 14px;
    color: #9E9E9E;
}


.details-description{
    margin: 10px 0;
}