.slider-container {
  width: 59%;
  margin: 20px 0px;
}

.slider-img-wrapper {
  width: 100%;
  height: 250px;
  border-radius: 5px;
  overflow: hidden;
}

.slider-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-nav-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
}

.slider-nav {
  width: 100px;
  height: 100%;
  background-color: #000;
}

.post-container {
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}
